@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@import '../../vendor/livewire/flux/dist/flux.css';
@import url('https://fonts.cdnfonts.com/css/satoshi');

@theme {
    --font-sans: 'Satoshi', sans-serif, ui-sans-serif, system-ui;
}
/* Scrollbar tipis dan gelap */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #18181b; /* zinc-900 */
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #3f3f46; /* zinc-700 */
    border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #52525b; /* zinc-600 */
}

/* Sembunyikan scrollbar untuk Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Sembunyikan scrollbar untuk IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}